@font-face {
  	font-family: "AaWanWan";   /*字体名称*/
  	src: url("../ttf/night.TTF") format("truetype");       /*字体源文件*/
}
* {
	margin: 0px;
	border: 0px;
	font-family: "AaWanWan";
	font-style: normal;
	border-color: #F7B5AB;
}
body{
	background-color: #ffffff;
	background-image: url(../images/bgi.png);
	background-position: center;
}
img{
}
a{
	text-decoration: none;
}
a:link {color: black}
a:visited {color: black}
a:hover {color: grey}
a:active {color: lightgrey}
#my_main{
	
	width: 1366px;
	margin: 0 auto;	
	/*padding-bottom: 120px; */
	/*
	background-color: #f0f0f0;
	background-image: url(../static/bgi.png);
	background-position: 50% 37px;*/

	
	border-width: 0 2px 2px;
	border-color: #aaaaaa;
	border-style: solid;
	
}
#my_head{
	border-style: solid;
	border-width: 0px 0px 4px;
	border-color: #F7B5AB;
	width: 100%;
}
#my_header{
	border-width: 0px;/*
	border-color: #F7B5AB;
	background-color: #eeeeee;
	background-image: url(../static/bgi.png)*/;
	width: 1366px;
	margin: auto;
}
#my_logo{
	margin-left: 40px;
	width: 240px;
	height: 100px;
}
#guider{
	float: right;
	width: 900px;
	margin-top: 10px;
}
.guide{
	background-image: url(../images/cloud.png);
	background-repeat: no-repeat;
	text-align: left;
	margin-top: 20px;
	margin-left: 200px;
	border:0;
	padding-top: 16px;
	padding-bottom: 5px;
	font-size: 23px;
	width: 700px;
	height: 45px;
	background-size: 100% 100%;
}
.navigation1:link {color: black}
.navigation1:visited {color: black}
.navigation1:hover {color: white}
.navigation1:active {color: grey}
.navigation:link {color: grey}
.navigation:visited {color: grey}
.navigation:hover {color: white}
.navigation:active {color: lightgrey}
.breadcrum{
	/*background-image: url(../images/breadcrum.png);*/
	height: 30px;
	width: 1366px;
	margin: 5px auto;
	background-repeat: no-repeat;
	text-align: left;
	/*margin: 40px 0 20px 50px;*/
	padding: 5px;
	padding-left: 50px;
	border:0;
	font-size: 20px;
	/*background-size: 100% 100%;*/
	/*this is to be changed by yourself*/
	/*width: 200px;*/
}
#my_body{
	position: relative;
	width: 1366px;
	margin: 0 auto;
	border-width: 0px 2px;
	border-style: solid;
}
#my_foot{
	padding-top: 10px; 
	height: 60px;
	margin: 0;
	border-width: 3px 0 0 0;
	border-style: solid;
	font-size: 13px;
	color: #888888;
	text-align: center;
}
#my_foot p{
	text-align: center;
}
#my_foot a:link {color: #6666bb}
#my_foot a:visited {color: grey}
#my_foot a:hover {color: white}
#my_foot a:active {color: lightgrey}