#my_body{
	height: 700px;
}
.side{
	width: 300px;
	position: relative;
	top: 0;
	right: 0;
}
#left_side{
	float: left;
}
#right_side{
	float: right;
}
.side .hp{
	width: 60px;
	height: 300px;
}
#left_hp{
	margin: 200px 0 0 100px;
	float: left;
}
#right_hp{
	margin: 200px 100px 0 0;
	float: right;
}
#my_tt{
	position: absolute;
	left: 160px;
	top: 360px;
	width: 133px;
	height: 133px;/*
	animation:my_ttp 1.5s; 
	animation-iteration-count:infinite;*/
	transition: all 0.5s;
}
#my_tt:hover{
	left: 150px;
	top: 350px;
	width: 153px;
	height: 153px;
	animation-iteration-count:0;
	box-shadow: 10px 10px 5px #888888;
	outline: solid #bbbbbb 1px;
	z-index: 999;
}
#my_tt:active{/*
	animation:my_tta 1s;
	animation-iteration-count:1; */
	left: 150px;
	top: 350px;
	width: 153px;
	height: 153px;
	transform: rotate(-15deg);
}
@keyframes my_ttp{
	0%{
		left: 160px;
		top: 360px;
		width: 133px;
		height: 133px;
		transform: rotate(3deg);
	}50%{
		left: 160px;
		top: 360px;
		width: 133px;
		height: 133px;
		transform: rotate(-3deg);
	}100%{
		left: 160px;
		top: 360px;
		width: 133px;
		height: 133px;
		transform: rotate(3deg);
	}
}
@keyframes my_tta{
	0%{
		left: 150px;
		top: 350px;
		width: 153px;
		height: 153px;
		transform: rotate(0deg);
		box-shadow: 10px 10px 5px #888888;
		outline: solid #bbbbbb 1px;
		z-index: 999;
	}50%{
		left: 150px;
		top: 350px;
		width: 153px;
		height: 153px;
		transform: rotate(-25deg);
		box-shadow: 10px 10px 5px #888888;
		outline: solid #bbbbbb 1px;
		z-index: 999;
	}100%{
		left: 150px;
		top: 350px;
		width: 153px;
		height: 153px;
		transform: rotate(0deg);
		box-shadow: 10px 10px 5px #888888;
		outline: solid #bbbbbb 1px;
		z-index: 999;
	}
}
#s_tt1{
	position: absolute;
	left: 27px;
	top: 382px;
	width: 44px;
	height: 65px;
	transform: rotate(15deg);
}
#s_tt2{
	position: absolute;
	left: 115px;
	top: 585px;
	width: 50px;
	height: 70px;
	transform: rotate(-20deg);
}
#needle1_div{
	position: absolute;
	left: 30px;
	top: 448px;
	width: 60px;
	height: 174px;
	transform: rotate(20deg);
	transition: all 5s;
	z-index: 1001;
}
#needle1_div:focus{
	/*animation: needle1_divh 5s;*/
	/*position: absolute;
	transform: rotate(90deg);
	left: 430px;
	top: 448px;
	width: 60px;
	height: 574px;*/
}
#needle1{
	position: absolute;
	left: 30px;
	top: 448px;
	width: 60px;
	height: 174px;
	transform: rotate(20deg);/*
	position: absolute;
	left: 0;
	top: 0;
	width: 60px;
	height: 174px;*/
}
#needle1:focus{
	animation: needle1_divh 5s;
}
@keyframes needle1_divh{
	0%{
		position: absolute;
		transform: rotate(20deg);
		left: 30px;
		top: 448px;
		width: 60px;
		height: 174px;
		z-index: 1001;
	}15%{
		position: absolute;
		transform: rotate(90deg);
		left: 30px;
		top: 448px;
		width: 60px;
		height: 174px;
		z-index: 1001;
	}40%{
		position: absolute;
		transform: rotate(90deg);
		left: 1030px;
		top: 448px;
		width: 60px;
		height: 174px;
		z-index: 1001;
	}50%{
		position: absolute;
		transform: rotate(90deg);
		left: 1050px;
		top: 458px;
		width: 80px;
		height: 154px;
		z-index: 1001;
	}55%{
		position: absolute;
		transform: rotate(90deg);
		left: 1050px;
		top: 458px;
		width: 80px;
		height: 154px;
		z-index: 1001;
	}60%{
		position: absolute;
		transform: rotate(90deg);
		left: 1030px;
		top: 448px;
		width: 60px;
		height: 174px;
		z-index: 1001;
	}85%{
		position: absolute;
		transform: rotate(90deg);
		left: 30px;
		top: 448px;
		width: 60px;
		height: 174px;
		z-index: 1001;
	}100%{
		position: absolute;
		transform: rotate(20deg);
		left: 30px;
		top: 448px;
		width: 60px;
		height: 174px;
		z-index: 1001;
	}
}
#needle2{
	position: absolute;
	left: 164px;
	top: 518px;
	width: 30px;
	height: 90px;
	transform: rotate(-20deg);
}
.small_bubble{
	opacity: 0.5;
}
#bubble1{
	position: absolute;
	left: 105px;
	top: 121px;
	width: 33px;
	height: 33px;
	transform: rotate(0deg);
}
#bubble2{
	position: absolute;
	left: 168px;
	top: 28px;
	width: 96px;
	height: 96px;
	transform: rotate(0deg);
}
.hiv{

}
#hiv1{
	position: absolute;
	right: 118px;
	top: 414px;
	width: 140px;
	height: 150px;
	transform: rotate(20deg);
	transition: all 30s linear;
}
#hiv1:hover{
	/*animation: hiv_one_h 5s;*/
	transform: rotate(10800deg);
}
@keyframes hiv_one_h{/*
	0%{
		position: absolute;
		right: 118px;
		top: 414px;
		width: 140px;
		height: 150px;
		transform: rotate(20deg);
	}25%{
		position: absolute;
		right: 118px;
		top: 414px;
		width: 140px;
		height: 150px;
		transform: rotate(110deg);
	}50%{
		position: absolute;
		right: 118px;
		top: 414px;
		width: 140px;
		height: 150px;
		transform: rotate(200deg);
	}75%{
		position: absolute;
		right: 118px;
		top: 414px;
		width: 140px;
		height: 150px;
		transform: rotate(290deg);
	}100%{
		position: absolute;
		right: 118px;
		top: 414px;
		width: 140px;
		height: 150px;
		transform: rotate(20deg);
	}*/
	from{
		position: absolute;
		right: 118px;
		top: 414px;
		width: 140px;
		height: 150px;
		transform: rotate(20deg);
	}to{
		position: absolute;
		right: 118px;
		top: 414px;
		width: 140px;
		height: 150px;
		transform: rotate(1080deg);
	}
}
#hiv2{
	position: absolute;
	right: 57px;
	top: 361px;
	width: 55px;
	height: 56px;
	transform: rotate(50deg);
}
#hiv3{
	position: absolute;
	right: 32px;
	top: 483px;
	width: 98px;
	height: 100px;
	transform: rotate(160deg);
}
#hiv4{
	position: absolute;
	right: 222px;
	top: 506px;
	width: 77px;
	height: 80px;
	transform: rotate(62deg);
}
#hiv5{
	position: absolute;
	right: 158px;
	top: 577px;
	width: 71px;
	height: 69px;
	transform: rotate(147deg);
}
#bubble3{
	position: absolute;
	left: 168px;
	top: 123px;
	width: 80px;
	height: 80px;
	transform: rotate(0deg);
}
#bubble4{
	position: absolute;
	left: 69px;
	top: 33px;
	width: 96px;
	height: 96px;
	transform: rotate(0deg);

}
#bubble5{
	position: absolute;
	left: 22px;
	top: 536px;
	width: 28px;
	height: 27px;
	transform: rotate(0deg);
}
#bubble6{
	position: absolute;
	left: 276px;
	top: 51px;
	width: 28px;
	height: 27px;
	transform: rotate(0deg);
}
#bubble7{
	position: absolute;
	left: 418px;
	top: 550px;
	width: 64px;
	height: 60px;
	transform: rotate(0deg);
}
#main{
	width: 766px;
	text-align: center;
	float: left;
	position: relative;
	left: 0;
	top: 0;
}
#bbubble1{/*
	position: absolute;
	left: 12px;
	top: 170px;*/
	width: 409px;
	height: 420px;
	transform: rotate(0deg);
	z-index: 1010;
}
#bbubble1_div{
	position: absolute;
	left: 12px;
	top: 170px;
	width: 409px;
	height: 420px;
	transform: rotate(0deg);
	z-index: 1010;
}/*
#bbubble1:focus + 

#bbubble1_div:focus::after{
	content: url(../static/bubble_r.png);
    position: absolute;
    top: 0; left: 0; 
    width: 800px;
    height: 800px;
    z-index:1002;
}*/
#bbubble2_div{
	position: absolute;
	left: 400px;
	top: 18px;
	width: 318px;
	height: 314px;
	transform: rotate(0deg);
	z-index: 1000;
}
#bbubble2{
	position: relative;
	left: 0px;
	top: 0px;
	width: 318px;
	height: 314px;
	transform: rotate(0deg);
	opacity: 1.0;
	z-index: 1005;
	transition: all 0.5s;
}
#bbubble2{

}
#bbubble2 + div{
	position: absolute;
	left: 0px;
	top: 80px;
	height: 314px;
	opacity: 0;
	z-index: -1;
	transition: all 0.5s;
}
#bbubble2 + div img{
	position: relative;
	width: 150px;
}
#bbubble2:focus{
	opacity: 0;
	z-index: -1;
}
#bbubble2:focus + div{
	opacity: 1.0;
	z-index: 1050;
}
#bbubble3{
	position: absolute;
	left: 550px;
	top: 350px;
	width: 242px;
	height: 234px;
	transform: rotate(0deg);
}
