.small_font{
	font-size: 30px;
}
.big_font{
	font-size: 40px;
}
#my_book{
	width: 1286px;
	padding: 1px 80px 80px 0px;
	background-color: #ffffff;
}
#my_paper{
	background-color: #ffffff;
	background-image: url(../../images/paper.png);
	background-size: 100% 30px;
	width: 1206px;
	padding-bottom: 100px;	
	padding-top: 40px;
	margin-left: 80px;
	margin-top: 60px;
	height: 550px;
	/*margin-bottom: 80px;*/
	/*
	border-width: 70px 80px 60px 80px;
	border-style: solid;
	border-color: #ffffff;
	display: inline-block;
	position: relative;
	top: 0px;
	left: 0px;*/
}
#summary1{
	width: 540px;
	background-image: url(../../images/highlight1.png);
	background-size: 100% 100%;
	font-size: 40px;
	/*padding-top: 40px;*/
}
#first_block{
	display: inline-block;
}
#next_block{
	margin-top: 20px; 
	width: 540px;
	display: inline-block;
	vertical-align: top;
	margin-left: 120px;
}
#para1{
	width: 300px;
	font-size: 30px;
	padding-left: 40px;
	vertical-align: top;
}
#summary2{
	margin-top: 160px;
	margin-left: 25px;
	height: 60px;
	padding-top: 10px;
	font-size: 40px;
	background-image: url(../../images/highlight2.png);
	background-size: 100% 100%;
}
#papapa{
	vertical-align: middle;
}
#para2{
	width: 200px;
	margin-left: 50px;
	font-size: 30px;
	display: inline-block;
	vertical-align: middle;
}
#page_o{
	/*padding-top: 60px;*/
	width: 1262px;
	height: 70px;
	position: absolute;
	top: 720px;
	padding: 0 50px;
}
#next{
	width: 180px;
	height: 90px;
	background-image: url(../../images/next.png);
	background-size: 100% 100%;
	background-color: unset;
	float: right;
	font-size: 35px;
	margin-right: 50px;
}

#png{
	padding-left: 70px;
}

#png2{
	padding-left: -30px;
}
#dialog1{
	position: absolute;
	left: 350px;
	top: 500px;
}
#virus1{
	position: absolute;
	left: 100px;
	top: 650px;
	width: 86px;
	height: 79px;
	transform: rotate(-30deg);
}
#btt{
	position: absolute;
	left: 550px;
	top: 650px;
	width: 127px;
	height: 123px;
}
#dialog2{
	position: absolute;
	left: 1020px;
	top: 114px;
}
#dialog3{
	position: absolute;
	left: 950px;
	top: 580px;
}
#dialog4{
	position: absolute;
	left: 700px;
	top: 124px;
}
#virus2{
	position: absolute;
	left: 480px;
	top: 300px;
}
#png3 img{
	position: absolute; 
	top: 80px;
	left: 30px
}