
		.content_head{
			width: 1286px;
			height: 205px;
		}

		.content_headpic{
			width: 189px;
			height: 207px;
			background-image: url(../../images/teacher.png);
			background-repeat: no-repeat;
			margin-left: 200px;
			margin-right: 150px;
			float: left;
			
		}

		.content_heading{
			text-align: center;
			width: 620px;
			height: 45px;
			margin-top: 50px;
			font-size: 40px;
			font-family: "AaPaperTape";
			float: left;
		}


		.partone{
			width: 1286px;
			height: 338px;
			margin-left:300px;
			margin-top: 50px;
		}

		.partoneing{
			width: 620px;
			height: 346px;
			margin-right: 110px;
			text-align: left;
			font-size: 25px;
			float: left;	
		}

		.partone_pic{
			width: 142px;
			height:210px;
			margin-right: 100px;
			background-image: url(../../images/dna.png);
			background-repeat: no-repeat;
			float: left;
		}

		.parttwo{
			width: 1286px;
			height: 1250px;

			clear:both;
			margin-top: 50px;
			margin-left: 50px;

		}

		.parttwo_p1{
			width: 259px;
			height: 114px;
			margin-top: 340px;
			margin-left: 65px;
			text-align: left;
			font-size: 25px;
			float: left;
		}

		

		.parttwo_pic{
			height: 1176px;
			width: 601px;
			background-image: url(../../images/big.png);
			background-repeat: no-repeat;
			margin-left: 50px;
			float: left;
		}

		.parttwo_p2{
			width: 220px;
			height: 120px;
			top: 1300px;
			right: 80px;
			text-align: left;
			font-size: 25px;
			position: absolute;
		}

		.parttwo_p3{
			width: 280px;
			height: 162px;
			text-align: left;
			font-size: 25px;
			float: left;	
			top: 1600px;
			left: 150px;
			position: absolute;
		}

		.partthree{
			height: 2300px;
			width: 1286px;
			clear:both;
			margin-left: 50px;
		}

		.partthree_p1{
			width: 470px;
			text-align: center;
			font-size: 25px;
			margin-top: 30px;
			margin-left: 250px;
		}

		.partthree_p2{
			text-align: left;
			width: 400px;
			font-size: 25px;
			float: left;	
			margin-top: 30px;
			margin-left: 600px;
		}
		.partthree_pic{
			background-image: url(../../images/second.png);
			height: 2000px;
			width: 1286px;
			background-repeat: no-repeat;
			margin-left: 0;
			float: left;
		}



a{text-decoration: none;}
a.content:link {color: grey}
a.content:visited {color: black}
a.content:hover {color: grey}
a.content:active {color: rgb(255,2,83)}
