#my_nf{
	background-image: url(../../images/bg404.png);
	background-repeat: no-repeat;
	background-position: 800px 100px;
	/*width: 1366px;*/
	padding-top: 100px;
	padding-left: 180px;
}
#first_line{
	height: 260px;
	/*width: 1360px;*/
}
#big_nf{
	font-size: 250px;
	color: #F24B5F;
	width: 500px; 
	display: inline;
	vertical-align: middle;
}
.my_buttom{
	/*display: inline-block;*/
	font-size: 55px;
	background-color: unset;
	vertical-align: middle;
	background-image: url(../../images/buttom.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#small_nf{
	font-size: 100px;
	color: #F24B5F;
	margin-top: -20px;
	padding-left: 30px;
}